body section:nth-child(1) {
  position: relative;
  padding: 4rem;
  background: #ffffff;
}

.portfolio {
  padding: 0 20%;
  margin-bottom: 3rem;
  font-family: sans-serif;
  font-size: 13px;
  font-weight: normal;
}
.portfolio .sub-name {
  display: flex;
  justify-content: center;
  background: #4eaa32;
  text-align: center;
  border-top: 1px solid #8d8d8d;
  border-left: 1px solid #8d8d8d;
  border-right: 1px solid #8d8d8d;
}
.portfolio .sub-name .cv-name {
  position: relative;
  margin: 2rem 4rem;
  padding: 1rem 3rem;
  background: #fff;
  border-radius: 10px;
}
.portfolio .sub-name .cv-name::after {
  content: "";
  display: block;
  position: absolute;
  top: 8px;
  bottom: 8px;
  left: 8px;
  right: 8px;
  border-radius: 10px;
  border: 1px solid #8b8b8b;
}
.portfolio .sub-name .name {
  font-size: 2rem;
  color: #1a1a1a;
  position: relative;
  letter-spacing: 2px;
  padding-bottom: 15px;
  font-family: monospace;
  text-transform: uppercase;
}
.portfolio .sub-name .name::after {
  content: "";
  position: absolute;
  width: 20%;
  height: 2px;
  bottom: 0;
  margin-bottom: 5px;
  left: 50%;
  transform: translateX(-50%);
  background: #646464;
}
.portfolio .sub-name .title {
  color: #414141;
  font-size: 12px;
  text-transform: uppercase;
}
.portfolio .sub-about {
  display: flex;
  padding: 3rem 3rem 2rem 3rem;
  justify-content: space-between;
  border-left: 1px solid #8d8d8d;
  border-right: 1px solid #8d8d8d;
}
.portfolio .sub-about .cv-profile {
  width: 35%;
}
.portfolio .sub-about .cv-profile p {
  margin-top: 0.5rem;
  text-align: justify;
  -moz-text-align-last: center;
       text-align-last: center;
}
.portfolio .sub-about .heading-profile {
  position: relative;
  color: #4da832;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  letter-spacing: 2px;
  padding-bottom: 11px;
  text-transform: uppercase;
}
.portfolio .sub-about .heading-profile::after {
  content: "";
  position: absolute;
  width: 40%;
  height: 2px;
  bottom: 0;
  margin-bottom: 6px;
  left: 50%;
  transform: translateX(-50%);
  background: #9b9a97;
}
.portfolio .sub-about .profile-img {
  background-image: url("/static/images/quotes-img/profile.png");
  width: 8.2rem;
  height: 8.2rem;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  transform: translateY(-25px);
  background-color: #f1f1f7;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.portfolio .sub-about .profile-img::after {
  content: "";
  position: absolute;
  top: 0%;
  left: 8%;
  width: 42%;
  height: 1px;
  transform-origin: right;
  transform: rotate(90deg);
  background-color: #515151;
}
.portfolio .sub-about .cv-address {
  display: flex;
  width: 35%;
  flex-direction: column;
  justify-content: space-between;
}
.portfolio .sub-about .cv-address > div:first-child {
  margin-top: 20px;
}
.portfolio .sub-about .cv-address > div:nth-child(n) {
  border-bottom: 1px solid #b2b2b2;
}
.portfolio .sub-about .cv-address > div:last-child {
  letter-spacing: 1px;
}
.portfolio .sub-about .cv-address > div svg {
  float: right;
  color: #4eaa32;
  margin-top: 3px;
}
.portfolio .heading {
  background: #fff;
  color: #4da832;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  border: 2px solid #4da832;
  border-radius: 5px;
}
.portfolio .sub-skill {
  display: flex;
  padding: 3rem;
  border-left: 1px solid #8d8d8d;
  border-right: 1px solid #8d8d8d;
}
.portfolio .sub-skill .cv-education,
.portfolio .sub-skill .cv-skill,
.portfolio .sub-skill .cv-certificate {
  padding: 25px;
  width: 33.3%;
  text-align: center;
  position: relative;
}
.portfolio .sub-skill .cv-certificate .heading,
.portfolio .sub-skill .cv-education .heading {
  margin: 0 1rem;
}
.portfolio .sub-skill .cv-education {
  padding-left: 0;
}
.portfolio .sub-skill .cv-education .heading::after {
  content: "";
  top: 40px;
  right: 0;
  position: absolute;
  width: 16%;
  height: 1px;
  z-index: 1;
  background: #8d8a8a;
}
.portfolio .sub-skill .cv-education h4 {
  text-transform: uppercase;
  padding: 15px 0 5px;
}
.portfolio .sub-skill .cv-education p {
  text-transform: uppercase;
}
.portfolio .sub-skill .cv-certificate {
  border: 1px;
  padding-right: 0;
}
.portfolio .sub-skill .cv-certificate .heading::after {
  content: "";
  top: 40px;
  left: 0;
  position: absolute;
  width: 16%;
  height: 1px;
  z-index: 1;
  background: #8d8a8a;
}
.portfolio .sub-skill .cv-skill {
  border: 1px solid #8d8a8a;
  margin-top: -15px;
  margin-bottom: -40px;
}
.portfolio .sub-skill .cv-skill .skill-1 {
  margin-top: -25px;
}
.portfolio .sub-skill .cv-skill h4 {
  margin-bottom: 9px;
}
.portfolio .sub-skill .cv-skill p {
  font-size: 12px;
  line-height: 20px;
}
.portfolio .sub-skill .cv-skill .heading {
  transform: translateY(-40px);
  background: white;
  margin: 0 2rem;
}
.portfolio .sub-experience {
  padding: 0 3rem 2rem;
  border-bottom: 1px solid #8d8d8d;
  border-left: 1px solid #8d8d8d;
  border-right: 1px solid #8d8d8d;
}
.portfolio .sub-experience .heading {
  position: relative;
  margin: 0 36%;
  background: white;
  transform-style: preserve-3d;
  transform: translateY(-22px);
}
.portfolio .sub-experience .heading::after {
  position: absolute;
  content: "";
  top: 11px;
  left: -20vw;
  width: 54vw;
  height: 1px;
  background-color: #8b8b8b;
  transform: translateZ(-1px);
}
.portfolio .sub-experience .experience-1 {
  display: flex;
  gap: 5px;
  justify-content: space-between;
  align-items: center;
}
.portfolio .sub-experience .experience-1 h4 {
  margin-bottom: 5px;
}
.portfolio .sub-experience .experience-1 div:first-child {
  width: 70%;
}

@media screen and (max-width: 720px) {
  body section:nth-child(1) {
    padding: 1.7rem;
  }

  .portfolio {
    padding: 0;
    margin-bottom: 1rem;
  }
  .portfolio .sub-about,
.portfolio .sub-skill,
.portfolio .sub-experience {
    padding: 1rem;
  }
  .portfolio .sub-name .cv-name {
    margin: 1rem;
  }
  .portfolio .sub-name .cv-name .name {
    font-size: 1.5rem;
  }
  .portfolio .sub-about {
    gap: 20px;
    padding-bottom: 0;
    flex-direction: column;
  }
  .portfolio .sub-about .cv-profile {
    width: 100%;
  }
  .portfolio .sub-about .cv-profile p {
    padding: 0px 2rem;
  }
  .portfolio .sub-about .profile-img2 {
    display: flex;
    order: -1;
    align-self: center;
  }
  .portfolio .sub-about .profile-img {
    transform: translateY(0px);
  }
  .portfolio .sub-about .profile-img::after {
    left: 19%;
    width: 31%;
  }
  .portfolio .sub-about .cv-address {
    width: 100%;
    gap: 5px;
    align-items: center;
  }
  .portfolio .sub-about .cv-address > div {
    width: 80%;
  }
  .portfolio .sub-about .cv-address > div:first-child {
    margin-top: 0;
  }
  .portfolio .sub-skill {
    gap: 20px;
    flex-direction: column;
  }
  .portfolio .sub-skill .cv-skill {
    margin: 0;
  }
  .portfolio .sub-skill .cv-education,
.portfolio .sub-skill .cv-skill,
.portfolio .sub-skill .cv-certificate {
    width: 100%;
    padding: 25px;
  }
  .portfolio .sub-skill .cv-education .heading::after {
    content: none;
  }
  .portfolio .sub-skill .cv-certificate .heading::after {
    content: none;
  }
  .portfolio .sub-experience .heading {
    margin: 0 10%;
  }
  .portfolio .sub-experience .heading::after {
    content: none;
  }
  .portfolio .sub-experience .experience-1 {
    align-items: end;
    flex-direction: column;
    padding: 0 25px;
  }
  .portfolio .sub-experience .experience-1 div:first-child {
    width: 100%;
  }
}/*# sourceMappingURL=about.css.map */